/* General */

.mbox-info 								{line-height:1.7em; color:#888}
.mbox-error 							{line-height:1.7em; color:red}
.mbox-label                             {display:block; font-weight:bold}

.gp-cloudmade-style                     {display:block; padding:2px 0 0 40px}
.gp-tiles-provider-elt                  {margin:8px 0}

/* Listings */

.total-project-column-content-info      {display:block}
.wp-list-table #marker_icon             {width:40px}

/* Metaboxes */

.mbox-fields-table                      {width:100%}
.mbox-field-name                        {display:block; width:100%; vertical-align:top}
.mbox-field-name label                  {display:block; font-weight:bold}
.mbox-field-value                       {display:block; width:100%; vertical-align:top}
.mbox-field-value select                {max-width:250px}
.mbox-field-value input                 {width:100%; max-width:400px}

.mbox-project-infos-file-buttons        {margin:0}
.mbox-project-infos-file-preview p      {margin-top:0}

#mbox_map_preview .inside               {margin:0; padding:12px}
.mbox-map-add-markers                   {margin-top:0}
.mbox-map-add-markers span              {font-size:11px; color:#777}

#mbox_marker_infos *                    { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#mbox_marker_infos h4                   {margin:2em 0 1em; font-size:16px}

.mbox-marker-icon-preview               {min-height:50px}
.mbox-marker-icons-lists-wrap           {display:none}
.mbox-marker-icons-lists-choice label   {padding-right:10px}
.mbox-marker-icons-lists-choice input   {width:inherit}
.mbox-marker-icons-list-custom          {display:none}
.mbox-marker-icons-list-custom .loading {padding-top:15px}
.mbox-marker-icons-list                 {overflow:auto; min-height:50px; max-height:250px; border:1px solid #dfdfdf; background-color:#fff}
.mbox-marker-icons-list ul              {margin:0; padding:10px}
.mbox-marker-icons-list li              {float:left; overflow:hidden; width:50px; height:50px}
.mbox-marker-icons-list li a            {display:block}
.mbox-marker-icons-list img             {display:block; margin:0 auto}
.mbox-marker-icons-list p               {padding:0 1em}

.mbox-marker-content-add-choice         {float:left; margin:0; padding:6px 0 0}
.mbox-marker-content-add-choice li      {float:left; margin:0 10px 0 0}
.mbox-marker-content-add-choice a       {display:block; padding:0; width:36px; height:50px; transition:none}
.mbox-marker-content-add-choice span    {position:absolute; top:-9999em}
.mbox-marker-content-choice-text a:link,
.mbox-marker-content-choice-text a:visited {background:transparent url(../images/sprite.png) 5px -106px no-repeat}
.mbox-marker-content-choice-text a:hover,
.mbox-marker-content-choice-text a:active,
.mbox-marker-content-choice-text a:focus {background-position:5px -167px}
.mbox-marker-content-choice-image a:link,
.mbox-marker-content-choice-image a:visited {background:transparent url(../images/sprite.png) -55px -106px no-repeat}
.mbox-marker-content-choice-image a:hover,
.mbox-marker-content-choice-image a:active,
.mbox-marker-content-choice-image a:focus {background-position:-55px -167px}
.mbox-marker-content-choice-audio a:link,
.mbox-marker-content-choice-audio a:visited {background:transparent url(../images/sprite.png) -117px -106px no-repeat}
.mbox-marker-content-choice-audio a:hover,
.mbox-marker-content-choice-audio a:active,
.mbox-marker-content-choice-audio a:focus {background-position:-117px -167px}
.mbox-marker-content-choice-video a:link,
.mbox-marker-content-choice-video a:visited {background:transparent url(../images/sprite.png) -175px -106px no-repeat}
.mbox-marker-content-choice-video a:hover,
.mbox-marker-content-choice-video a:active,
.mbox-marker-content-choice-video a:focus {background-position:-175px -167px}

.mbox-marker-content-list               {float:left; margin:0; padding:0}
.mbox-marker-content-list li            {float:left; margin:0; padding-right:15px}
.mbox-marker-content-delete             {display:block; width:36px; height:26px; transition:none}
.mbox-marker-content-delete:link,
.mbox-marker-content-delete:visited     {background:transparent url(../images/sprite.png) -282px 3px no-repeat}
.mbox-marker-content-delete:hover,
.mbox-marker-content-delete:active,
.mbox-marker-content-delete:focus       {background-position:-282px -58px}
.mbox-marker-content-delete span        {position:absolute; top:-9999em}
.mbox-marker-content-edit               {display:block; padding:0 7px; width:36px; height:36px; border:1px solid #dfdfdf; transition:none}
.mbox-marker-content-edit span          {position:absolute; top:-9999em}
.mbox-marker-content-text .mbox-marker-content-edit:link,
.mbox-marker-content-text .mbox-marker-content-edit:visited {background:#eaeaea url(../images/sprite.png) 5px 5px no-repeat}
.mbox-marker-content-text .mbox-marker-content-edit:hover,
.mbox-marker-content-text .mbox-marker-content-edit:active,
.mbox-marker-content-text .mbox-marker-content-edit:focus,
li.mbox-marker-content-text.active .mbox-marker-content-edit {background-color:#fff; background-position:5px -48px; border-bottom:1px solid #fff}
.mbox-marker-content-image .mbox-marker-content-edit:link,
.mbox-marker-content-image .mbox-marker-content-edit:visited {background:#eaeaea url(../images/sprite.png) -55px 5px no-repeat}
.mbox-marker-content-image .mbox-marker-content-edit:hover,
.mbox-marker-content-image .mbox-marker-content-edit:active,
.mbox-marker-content-image .mbox-marker-content-edit:focus,
li.mbox-marker-content-image.active .mbox-marker-content-edit {background-color:#fff; background-position:-55px -48px; border-bottom:1px solid #fff}
.mbox-marker-content-audio .mbox-marker-content-edit:link,
.mbox-marker-content-audio .mbox-marker-content-edit:visited {background:#eaeaea url(../images/sprite.png) -117px 5px no-repeat}
.mbox-marker-content-audio .mbox-marker-content-edit:hover,
.mbox-marker-content-audio .mbox-marker-content-edit:active,
.mbox-marker-content-audio .mbox-marker-content-edit:focus,
li.mbox-marker-content-audio.active .mbox-marker-content-edit {background-color:#fff; background-position:-117px -48px; border-bottom:1px solid #fff}
.mbox-marker-content-video .mbox-marker-content-edit:link,
.mbox-marker-content-video .mbox-marker-content-edit:visited {background:#eaeaea url(../images/sprite.png) -175px 5px no-repeat}
.mbox-marker-content-video .mbox-marker-content-edit:hover,
.mbox-marker-content-video .mbox-marker-content-edit:active,
.mbox-marker-content-video .mbox-marker-content-edit:focus,
li.mbox-marker-content-video.active .mbox-marker-content-edit {background-color:#fff; background-position:-175px -48px; border-bottom:1px solid #fff}

.mbox-marker-content-edit-pan           {margin-top:-1px; padding:1em; max-width:450px; border:1px solid #dfdfdf}
.mbox-marker-content-edit-pan label     {display:block; padding-bottom:5px}
.mbox-marker-content-edit-pan input[type="text"] {width:100%}
.mbox-marker-content-edit-text-wrap .mceIframeContainer {background-color:#fff}
.mbox-marker-content-edit-image-preview img {display:block; max-width:100%; height:auto}
.mbox-marker-content-edit-video-preview {min-height:30px; background:transparent url(../images/loading.gif) 50% 10px no-repeat}
.mbox-marker-content-edit-buttons       {margin:1em 0 0}

/* Widgets */

.widget-posts-in-category label         {display:block; padding-bottom:5px; font-weight:bold}

/* Settings */

.gp-settings-notice                     {display:block; padding:5px 0}
#settings-map                           {margin-top:8px; height:400px; max-width:550px}

/* Help */

.gp-help-list                           {list-style:disc; margin-left:30px}

/* ---------------------
  Minimum Width : 500px
--------------------- */

@media screen and (min-width: 500px) {

    /* Metaboxes */

    #mbox_marker_infos .mbox-field-name     {display:table-cell; padding-right:6px; width:120px; vertical-align:top}
    #mbox_marker_infos .mbox-field-value    {display:table-cell; width:auto; vertical-align:top}
    #mbox_marker_infos .mbox-field-value > p:first-child {margin-top:0}

    #mbox_project_infos .mbox-field-name    {display:table-cell; padding-right:6px; width:200px; vertical-align:top}
    #mbox_project_infos .mbox-field-value   {display:table-cell; width:auto; vertical-align:top}
    #mbox_project_infos .mbox-field-value > p:first-child {margin-top:0}

}


/* Utils */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}